h1,
.h1 {
  font-size: $default-font-size + 20;
  line-height: 1.1em;
  margin: 0 0 $default-margin-bottom 0;
  font-weight: 700;
  color: $blue;
}

h2,
.h2 {
  font-size: $default-font-size + 16;
  line-height: 1.1em;
  margin: 0 0 $default-margin-bottom 0;
  font-weight: 700;
}

h3,
.h3 {
  font-size: $default-font-size + 14;
  line-height: 1.1em;
  margin: 0 0 $default-margin-bottom 0;
  font-weight: 600;
}

h4,
.h4 {
  font-size: $default-font-size + 8;
  line-height: 1.5em;
  margin: 0 0 $default-margin-bottom 0;
  font-weight: 600;
}

h5,
.h5 {
  font-size: $default-font-size + 4;
  line-height: 1.1em;
  margin: 0 0 $default-margin-bottom 0;
  font-weight: 500;
}

h6,
.h6 {
  font-size: $default-font-size;
  line-height: 1.5em;
  margin: 0 0 $default-margin-bottom 0;
}

p,
.p {
  font-size: $default-font-size;
  line-height: 1.5em;
  margin: 0 0 $default-margin-bottom 0;
}