$default-font-size              : 18px;
  $default-font-size-LARGE      : $default-font-size + 5;
  $default-font-size-SMALL      : $default-font-size - 5;

$default-margin-bottom          : 25px;
  $default-margin-bottom-LARGE  : 30px;
  $default-margin-bottom-SMALL  : 15px;

$default-form-height            : 50px;

$light-blue                     : #5d9cff;
$blue                           : #4338FF;
$light-gray                     : lightgrey;
$white                          : #FFFFFF;