// BASE VARIABLES
@import "base/_variables.scss";

// TYPOGRAPHY
@import "base/_typography.scss";

// CSS3 MIXINS
@import "base/_mixins.scss";

// FORMS
@import "components/_forms.scss";


body {
  font-family: 'Open Sans', sans-serif;
  margin:0;
  padding: 0;
  background-color: $white;
}

.main {
  padding: 15px;
}
.no-results {
  margin-top: $default-margin-bottom;
}


.list-item {
  @include css3-transition(background-color, 0.5s, ease);
  display: flex;
  max-width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
  border-left: 1px solid $light-gray;
  border-right: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;

  &:nth-child(odd) {
    background-color: $white;

    &:not(.active):hover {
      background-color: $white - 20;
    }
  }

  &:nth-child(even) {
    background-color: $light-blue;

    &:not(.active):hover {
      background-color: $light-blue - 20;
    }
  }

  &.active {
    background-color: $blue;

    * {
      color: $white;
    }

    &:hover {
      background-color: $blue - 20;
    }
  }

  article {
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    justify-content: center;

    * {
      @include css3-transition(color, 0.5s, ease);
    }
  }


  &__thumbnail {
    width: 100px;
    height: 100px;
    margin-left: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__content {
    padding-left: 15px;
    padding-right: 15px;

    * {
      margin-bottom: 0;
    }
  }
}

.loader {

  img {
    @include project-default-transition;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 0;
    height: auto;
    max-height: 0;
  }

  &.visible {
    img {
      opacity: 1;
      max-height: 500px;
    }
  }
}

/* HELPERS */

// texts
.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

// margins
.margin-bottom {
  &-default {
    margin-bottom: $default-margin-bottom;
  }

  &-small {
    margin-bottom: $default-margin-bottom-SMALL;
  }

  &-large {
    margin-bottom: $default-margin-bottom-LARGE;
  }
}