input[type='text'] {
  outline: none !important;
  width: calc(100% - 32px);
  height: $default-form-height;
  line-height: $default-form-height;
  font-size: $default-font-size-LARGE;
  background-color: transparent;
  border: 1px solid $light-gray;
  padding: 0 15px;
}